:root {
  --planets-side-name-max-size: 80px;
}

@media (min-width: 640px) {
  :root {
    --planets-side-name-max-size: 140px;
  }
}

@media (min-width: 768px) {
  :root {
    --planets-side-name-max-size: 170px;
  }
}

@media (min-width: 1024px) {
  :root {
    --planets-side-name-max-size: 185px;
  }
}

@media (min-width: 1200px) {
  :root {
    --planets-side-name-max-size: 235px;
  }
}

@media (min-width: 1320px) {
  :root {
    --planets-side-name-max-size: 270px;
  }
}

@media (min-width: 1456px) {
  :root {
    --planets-side-name-max-size: 310px;
  }
}

@media (min-width: 1560px) {
  :root {
    --planets-side-name-max-size: 340px;
  }
}

@media (min-width: 2048px) {
  :root {
    --planets-side-name-max-size: 400px;
  }
}
