.microplanet {
  background-position: right;
  background-repeat: no-repeat;

  transform-origin: center;

  animation-fill-mode: both;
  animation-iteration-count: infinite;
  will-change: transform;
}

.microplanet-1 {
  width: calc(var(--microplanet-1-position) + var(--microplanet-1-size));
  height: calc(var(--microplanet-1-position) + var(--microplanet-1-size));

  background-image: url("./planet-1.svg");
  background-size: var(--microplanet-1-size) var(--microplanet-1-size);

  animation-name: orbit-1;
  animation-duration: var(--microplanet-1-orbit-duration);
  animation-timing-function: linear;
}

.microplanet-2 {
  width: calc(var(--microplanet-2-position) + var(--microplanet-2-size));
  height: calc(var(--microplanet-2-position) + var(--microplanet-2-size));

  background-image: url("./planet-2.svg");
  background-size: var(--microplanet-2-size) var(--microplanet-2-size);

  animation-name: orbit-2;
  animation-duration: var(--microplanet-2-orbit-duration);
  animation-timing-function: linear;
}

.microplanet-3 {
  width: calc(var(--microplanet-3-position) + var(--microplanet-3-size));
  height: calc(var(--microplanet-3-position) + var(--microplanet-3-size));

  background-image: url("./planet-3.svg");
  background-size: var(--microplanet-3-size) var(--microplanet-3-size);

  animation-name: orbit-3;
  animation-duration: var(--microplanet-4-orbit-duration);
  animation-timing-function: linear;
}

.microplanet-4 {
  width: calc(var(--microplanet-4-position) + var(--microplanet-4-size));
  height: calc(var(--microplanet-4-position) + var(--microplanet-4-size));

  background-image: url("./planet-4.svg");
  background-size: var(--microplanet-4-size) var(--microplanet-4-size);

  animation-name: orbit-4;
  animation-duration: var(--microplanet-4-orbit-duration);
  animation-timing-function: linear;
}

.microplanet-5 {
  width: calc(var(--microplanet-5-position) + var(--microplanet-5-size));
  height: calc(var(--microplanet-5-position) + var(--microplanet-5-size));

  background-image: url("./planet-5.svg");
  background-size: var(--microplanet-5-size) var(--microplanet-5-size);

  animation-name: orbit-5;
  animation-duration: var(--microplanet-5-orbit-duration);
  animation-timing-function: linear;
}

.microplanet-6 {
  width: calc(var(--microplanet-6-position) + var(--microplanet-6-size));
  height: calc(var(--microplanet-6-position) + var(--microplanet-6-size));

  background-image: url("./planet-6.svg");
  background-size: var(--microplanet-6-size) var(--microplanet-6-size);

  animation-name: orbit-6;
  animation-duration: var(--microplanet-6-orbit-duration);
  animation-timing-function: linear;
}

@keyframes orbit-1 {
  0% {
    transform: translate3d(-50%, -50%, 0)
      rotate(calc(var(--microplanet-1-start) + 360deg));
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(var(--microplanet-1-start));
  }
}

@keyframes orbit-2 {
  0% {
    transform: translate3d(-50%, -50%, 0)
      rotate(calc(var(--microplanet-2-start) + 360deg));
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(var(--microplanet-2-start));
  }
}

@keyframes orbit-3 {
  0% {
    transform: translate3d(-50%, -50%, 0)
      rotate(calc(var(--microplanet-3-start) + 360deg));
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(var(--microplanet-3-start));
  }
}

@keyframes orbit-4 {
  0% {
    transform: translate3d(-50%, -50%, 0)
      rotate(calc(var(--microplanet-4-start) + 360deg));
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(var(--microplanet-4-start));
  }
}

@keyframes orbit-5 {
  0% {
    transform: translate3d(-50%, -50%, 0)
      rotate(calc(var(--microplanet-5-start) + 360deg));
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(var(--microplanet-5-start));
  }
}

@keyframes orbit-6 {
  0% {
    transform: translate3d(-50%, -50%, 0)
      rotate(calc(var(--microplanet-6-start) + 360deg));
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(var(--microplanet-6-start));
  }
}
