:root {
  --parallax-sensor-offset-rate: 20; /* integer */

  --parallax-nebulas-resistance: 45;
  --parallax-nebulas-delay: 1000ms;
  --parallax-nebulas-ease: cubic-bezier(0.22, 1, 0.36, 1);

  --parallax-stars-1-resistance: 45;
  --parallax-stars-1-delay: var(--parallax-nebulas-delay);
  --parallax-stars-1-ease: var(--parallax-nebulas-ease);

  --parallax-stars-2-resistance: 35;
  --parallax-stars-2-delay: var(--parallax-nebulas-delay);
  --parallax-stars-2-ease: var(--parallax-nebulas-ease);

  --parallax-stars-3-resistance: 25;
  --parallax-stars-3-delay: var(--parallax-nebulas-delay);
  --parallax-stars-3-ease: var(--parallax-nebulas-ease);

  --parallax-planetary-system-resistance: 15;
  --parallax-planetary-system-delay: var(--parallax-nebulas-delay);
  --parallax-planetary-system-ease: var(--parallax-nebulas-ease);
}
