.bg-image-orbits {
  background-image: url("./images/orbits.svg");
}

.bg-image-planet-1 {
  background-image: url("./images/planet-1.svg");
}

.bg-image-planet-2 {
  background-image: url("./images/planet-2.svg");
}

.bg-image-planet-3 {
  background-image: url("./images/planet-3.svg");
}

.bg-image-planet-4 {
  background-image: url("./images/planet-4.svg");
}

.bg-image-planet-5 {
  background-image: url("./images/planet-5.svg");
}

.bg-image-planet-6 {
  background-image: url("./images/planet-6.svg");
}
